body {
  font-family: "Poppins", sans-serif !important;
}
.navbar {
  background-color: #021780;
  font-size: large;
  font-weight: 400;
}
.navbar .nav-item {
  padding-left: 1rem;
}
.nav-item .active {
  font-weight: 500;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel .carousel-item .d-block {
  width: 100%;
}
.carousel-inner .carousel-control-next-icon span {
  color: #021780;
  border-radius: 100%;
  border-color: black;
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    width: 100%;
    transition-timing-function: ease-out;
  }
  .nav-item .btn {
    display: block;
    margin: 0.5rem 0;
  }

  #input-search {
    width: 12em;
  }
  #banner img {
    height: 200px;
    width: min-content;
  }
}
footer {
  background-color: #021780 !important;
  color: white;
}
